<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JobsLookupService</display-name>
  <servlet>
        <servlet-name>jobslookupservice</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet> 
    <servlet-mapping>
        <servlet-name>jobslookupservice</servlet-name>
        <url-pattern>/jobs</url-pattern>  
        <url-pattern>/jobs/zip</url-pattern>  
        <url-pattern>/jobs/company</url-pattern>  
        <url-pattern>/jobs/title</url-pattern>   
        <url-pattern>*.*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SwaggerJaxrsConfig</servlet-name>
        <servlet-class>
            com.jobs.rest.SwaggerJaxrsConfig
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet> 
    <!-- enable CORS filter so people can use swagger ui to browse and test the apis -->
  <filter>
    <filter-name>HTML5CorsFilter</filter-name>
    <filter-class>com.jobs.rest.HTML5CorsFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>HTML5CorsFilter</filter-name>
    <url-pattern>/api-docs/*</url-pattern>
    <url-pattern>/rest/*</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>